.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar1 td
{
  padding-left: 10px;
  padding-right: 20px;
  font-size: 30px;

}
.logo
{
    height: 15%;
    width: 15%;
}
.n1{
text-decoration: none;
}
.navbar1 td:hover
{
background-color: rgb(143, 35, 35);
color: white;
}
.n1:hover{
  color: white;
  }
  .navbarcolor
  {
    background-color: rgb(255,188,0);
  }